absl-py==2.1.0
aigpy==2022.7.8.1
aiodns==3.2.0
aiofiles==0.7.0
aiohttp==3.9.5
aiolimiter==1.1.0
aiosignal==1.3.1
albucore==0.0.12
albumentations==1.4.11
annotated-types==0.6.0
anyio==3.7.1
apparmor==3.1.7
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.5.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
autopep8==1.6.0
Babel==2.12.1
bcrypt==4.0.1
Beaker==1.12.1
beautifulsoup4==4.12.3
bleach==6.1.0
Brotli==1.1.0
CacheControl==0.14.0
cached-property==1.5.2
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
ci-info==0.3.0
click==8.1.7
click-aliases==1.0.4
click-help-colors==0.9.4
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
comm==0.2.2
conda==23.9.0
conda-package-handling==2.1.0
conda_package_streaming==0.7.0
configobj==5.0.8
configparser==7.0.0
contourpy==1.2.1
coolercontrol-liqctld==1.4.2
crcmod==1.7
cryptography==41.0.7
cssselect==1.1.0
cupshelpers==1.0
customtkinter==5.2.2
cycler==0.12.1
Cython==3.0.10
dacite==1.8.1
darkdetect==0.8.0
dataclasses-json==0.6.6
dbus-python==1.3.2
debugpy==1.8.1
decorator==4.4.2
deezer-py==1.3.6
defusedxml==0.7.1
Deprecated==1.2.14
diffusers==0.30.0
distro==1.8.0
Django==4.0.4
django-cleanup==6.0.0
django-froala-editor==4.0.14
dnf==4.18.2
dnspython==2.4.2
docker==6.1.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
easydict==1.13
editdistpy==0.1.4
email-validator==2.1.1
et-xmlfile==1.1.0
etelemetry==0.3.1
eval_type_backport==0.2.0
evdev==1.6.1
executing==2.0.1
fastapi==0.103.2
fastjsonschema==2.19.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.12.2
firebase-admin==6.5.0
fitz==0.0.1.dev2
flatbuffers==24.3.25
fonttools==4.53.1
fpdf==1.7.2
fqdn==1.5.1
frontend==0.0.3
fros==1.1
frozendict==2.3.8
frozenlist==1.4.1
fsspec==2024.6.0
future==1.0.0
gast==0.5.4
gdown==5.2.0
Glances==4.0.8
google-api-core==2.19.0
google-api-python-client==2.131.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
gpg==1.23.2
greenlet==3.0.3
grpcio==1.64.0
grpcio-status==1.62.2
gssapi==1.7.3
h11==0.14.0
h5py==3.11.0
hidapi==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huepy==1.2.1
huggingface-hub==0.23.4
humanfriendly==10.0
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
importlib_metadata==8.2.0
importlib_resources==6.4.0
iniconfig==2.0.0
inkex==1.3.1
insightface==0.7.3
insta-scrape==2.1.2
instabot==0.117.0
ipykernel==6.29.4
ipython==8.25.0
iso8601==2.1.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jaconv==0.3.4
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
keras==3.3.3
kiwisolver==1.4.5
koji==1.34.0
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.23
langchain-openai==0.1.17
langchain-text-splitters==0.2.0
langsmith==0.1.93
langtable==0.0.66
lazy_loader==0.4
LibAppArmor==3.1.7
libclang==18.1.1
libcomps==0.1.20
libdnf==0.73.1
liquidctl==1.13.0
looseversion==1.3.0
lutris==0.5.17
lxml==5.2.2
m3u8==0.9.0
Mako==1.2.3
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.2
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
Metaphone==0.6
mistune==3.0.2
ml-dtypes==0.3.2
mock==5.1.0
moddb==0.8.1
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nftables==0.1
nibabel==5.2.1
nipype==1.8.6
nltk==3.9.1
notebook_shim==0.2.4
notify2==0.3.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
OCRfixr==1.5.1
olefile==0.46
onnx==1.16.1
onnxruntime-gpu==1.18.1
openai==1.37.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opennsfw2==0.13.9
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.3
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.1
pandocfilters==1.5.1
paramiko==3.4.0
parso==0.8.4
Paste==3.5.3
pathlib==1.0.1
pathvalidate==2.5.2
peopledatalabs==3.1.2
pexpect==4.8.0
Pillow==9.4.0
platformdirs==3.11.0
playwright==1.44.0
pluggy==1.5.0
ply==3.11
prettytable==3.10.2
proglog==0.1.10
progressbar2==3.53.2
prometheus_client==0.20.0
prompt_toolkit==3.0.46
proto-plus==1.23.0
protobuf==4.25.3
prov==2.0.1
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyalsa==1.2.7
pyasn1==0.5.1
pyasn1_modules==0.4.0
pycairo==1.25.1
pycares==4.4.0
pycodestyle==2.8.0
pycosat==0.6.4
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.20.0
pycryptodomex==3.20.0
pycups==2.0.4
pycurl==7.45.2
pydantic==2.8.2
pydantic_core==2.20.1
pyDes==2.0.1
pydot==3.0.1
pydub==0.25.1
pyee==11.1.0
pyenchant==3.2.2
pygit2==1.14.0
Pygments==2.17.2
PyGObject==3.46.0
PyJWT==2.8.0
pykakasi==2.2.1
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
PyPDF2==3.0.1
pypresence==4.3.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
pyrate-limiter==2.10.0
pyreadstat==1.2.7
pyserial==3.5
PySocks==1.7.1
pytest==8.2.2
pytest-asyncio==0.21.2
pytest-mock==3.14.0
python-dateutil==2.8.2
python-dotenv==0.21.1
python-json-logger==2.0.7
python-multipart==0.0.9
python-slugify==8.0.4
python-utils==3.3.3
pytils==0.4.1
pytube==15.0.0
pytz==2024.1
pyusb==1.2.1
pyxdg==0.27
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==26.0.3
ranger-fm==1.9.3
rapidfuzz==3.6.1
rdflib==6.3.2
redis==5.0.1
referencing==0.30.2
regex==2024.4.16
reportlab==4.2.2
requests==2.31.0
requests-file==1.5.1
requests-gssapi==1.2.3
requests-toolbelt==1.0.0
responses==0.25.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.17.1
rpm==4.19.1.1
rpmautospec==0.6.3
rpmautospec-core==0.1.4
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
safetensors==0.4.3
savReaderWriter==3.4.2
schedule==1.2.2
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
scour==0.38.2
selenium==4.20.0
selinux @ file:///builddir/build/BUILD/libselinux-3.5/src
Send2Trash==1.8.3
sepolicy @ file:///builddir/build/BUILD/selinux-3.5/python/sepolicy
setools==4.4.3
setproctitle==1.2.3
setuptools==69.1.1
simple-term-menu==1.6.4
simpleaudio==1.0.4
simplejson==3.19.2
six==1.16.0
smbus==1.1
sniffio==1.3.0
sortedcontainers==2.4.0
sos==4.6.0
soundcloud-v2==1.3.1
soupsieve==2.5
spotdl==4.2.4
spotipy==2.23.0
SQLAlchemy==2.0.30
sqlparse==0.4.2
stack-data==0.6.3
starlette==0.27.0
steam==1.4.4
streamrip==2.0.5
sympy==1.13.1
symspellpy==6.7.7
syncedlyrics==0.7.0
systemd-python==235
Tempita==0.5.2
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
texttable==1.6.4
tf_keras==2.16.0
threadpoolctl==3.5.0
tidal-dl==2022.10.31.1
tifffile==2024.7.24
tiktoken==0.7.0
tinycss2==1.3.0
tk==0.1.0
tkinterdnd2==0.3.0
tkintertable==1.3.3
tldextract==3.5.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.7.2
tools==0.1.9
toolz==0.12.0
torbrowser-launcher==0.3.7
torch==2.4.0
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
traits==6.3.2
transformers==4.41.2
trash-cli==0.22.10.20
trio==0.25.0
trio-websocket==0.11.1
triton==3.0.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
ujson==5.8.0
Unidecode==1.3.8
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.23.2
VapourSynth==63
vdf==3.4
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wget==3.2
wheel==0.43.0
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
yt-dlp==2023.12.30
ytmusicapi==1.5.3
zipp==3.20.0
zstandard==0.21.0
